<!DOCTYPE html>
<html lang="ja">
<head>
<mata charset="utf-8">
<title>Handmade Nariko ログアウト</title>
<link rel="stylesheet" href="css/boughtstyle.css">
<link rel="stylesheet" href="js/slick-theme.css" type="text/css">
<link rel="stylesheet" href="js/slick.css" type="text/css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> <script
	src="js/slick.min.js"></script> <script src="myjs.js"></script>
</head>
<body>
	<div class="bought">
		<h1>購入しました</h1>
		<div class="bought_fm">
			<a href="/mypage">
				<input class="bought_bt" type="submit" name="" value="Mypageへ">
			</a>
			<a href="/index"><input class="return_bt" type="submit" name=""
				value="HOMEに戻る"></a>
		</div>
	</div>
</body>
</html>
