<!DOCTYPE html>
<html lang="ja"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <mata charset="utf-8">
            <title>Handmade Nariko　登録完了</title>
            <link rel="stylesheet" href="css/loginstyle.css">
            <link rel="stylesheet" href="js/slick-theme.css" type="text/css">
            <link rel="stylesheet" href="js/slick.css" type="text/css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="js/slick.min.js"></script>
            <script src="myjs.js"></script>
    </head>
    <body>
        <article>

            <div class="login">

            <h1>登録完了しました</h1>
            <p>登録したID,パスワードでログインしてください。</p>

                    <a href="/login"><input class="login_bt" type="submit" name="" value="ログイン"></a>

            </div>
        </article>
    </body>
</html>
